WcfServiceLibrary/WcfServiceLibrary/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptBifid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptBifidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CryptBifidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptBifid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptBifidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptBifidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptRC6">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CryptRC6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CryptRC6Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptRC6">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptRC6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptRC6Result" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptKS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptKSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptKSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptKS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptKSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptKSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncDecKS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="p" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncDecKSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncDecKSResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptCTR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptCTRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncryptCTRResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptCTR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptCTRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecryptCTRResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fInfo1" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="THResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="THResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>